.row {
    display: flex;
  }
  .two-column {
    flex: 50%;
    margin: 3px;
    padding: 1rem;
  }

  .three-column {
    flex: 33%;
    margin: 3px;
    padding: 1rem;
    height: 250px;
  }
.first-frame{
    background-color: rgb(139, 60, 31);
    padding: 1rem;
    text-align: center ;
    margin:3px ;
}



.fifth-frame {
  animation: animate 
      1s linear infinite;
}

@keyframes animate {
  0% {
      opacity: 0;
  }

  50% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}